body {
    margin:0px;
    padding:0px;
}
.tarja {
    background-color: green;
    display: block;
    width: 100px;
    height: 78px;
    border: rgb(255, 255, 255) solid 1px;
    transform: rotate(-40deg);
    position: relative;
    z-index: 2;
    top: 0px;
    left: 0px
}

.container {
    display:flex;
    padding-right:60px;
    padding-left:60px;
}
.margin {
    padding-right:60px;
    padding-left:60px
}
.menu {
    background-color: rgb(255, 255, 255)
}
.nav_div {
    justify-content: space-between;
    flex-direction: row;
    display:flex;
    align-items: center;
    width:100%;
    color: green;
    background-color: rgb(255, 255, 255)
}
.nav_icon {
    width:30px;
    height:30px;
    padding-top:16px;   
    padding-left:10px
}
#nav_menu {
    display:flex
}
.banner_section {
    background-image: url(../assets/img/noteboo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:450px;
    color:white;
}
.banner_layout {
    display:flex;
    flex-direction: column;
    margin-top: 30px;
}
.banner_text {
    width:50%;
    text-align: justify;
}
.buy_button h4 {
    padding:10px;
    display:inline-block;
    border:2px white solid;
    margin-top:20px;
}
.buy_button a {
    color: white
}
.features_layout {
    display:Flex;
    justify-content: space-around; 
}
.features_icon {
    width:100px;
    height: 100px;
}
.feature_text {
    max-width:300px;
    text-align: justify;
}
.section_title {
    font-size: 35px;
    color: green;
    margin-bottom: 10px;
}
.title_bar {
    width:120px;
    height:2px;
    background-color:rgb(65, 221, 18);
    margin-bottom: 10px;
    
}
.sale_div {
    display:flex;
    justify-content: space-around;
}
.sale_img {
    width:200px;
    height:200px;
}
.sale1 , .sale2 , .sale3 , .sale4 {
    background:rgb(255, 255, 255);
    border:black solid 2px;
}
.sale_name {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}
.sale_desc {
    font-size:17px;
    width:200px;
    word-break: break-all;
}
.sale_price {
    text-align: center;
}
.sale_button {
    text-align: center;
}
button {
    background-color: green;
    border: solid 2px black;
    border-radius: 3px;
}



@media only screen and (max-width:900px) {
    .banner_text {
        width:100%;
        text-align: justify;
    }
}